*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.card{
   margin: 0 auto;
   width: 350px;
   text-align: center;
margin-top: 10px; 
box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);  
transition: 0.3s;
font-size: 0;
}
.card:hover{
    box-shadow: 0 16px 32px 0px rgba(0, 0, 0, 0.2); 
} 
.head-info{
 
}
.head-info #result{
    width: 350px;
    height: 100px;
    text-align: right;
    padding: 0 5px;
    letter-spacing: 2px;
    font-weight: bold;
    background-color: rgb(218, 216, 216);
} 
.btn{
    width: 87px;
    height: 70px;
    
    /* padding: 33px 32px; */
    gap: 50px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 20px;

}
.body-info{
  margin-top: 15px;

}
.btn:hover{
    background-color: rgb(12, 150, 104);

}
.btn-right{
    background-color: brown;
}
.equal{
    height: 60px;
    padding: 0px 70px;
    border-radius: 10px;
    margin-left: 13px;
    margin-right: 13px;
    text-align: center;
 
}